body {
    /*padding-top: 3rem;*/
    padding-bottom: 3rem;
    background-color: black;
    color: white !important;
}
  
.centrar{
    font-size: 1.25rem;
    font-weight: 1000;
    color: antiquewhite;
    position: absolute;
    top: 20%;
    left: 70%;
    /*transform: translate(-50%, -50%);*/
}

.icon {
    padding: 5px 5px 5px 5px;
}

.navbar {
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  
}


.navbar-brand a {
  text-decoration: none;
  color: black;
  font-weight:bolder;
}

.navbar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items li {
  margin-left: 10px;
}

.navbar-items li a {
  text-decoration: none;
  color: #333;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  display: none;
  cursor: pointer;
}

.navbar-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-items {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-items li {
    margin-left: 0;
    margin-top: 10px;
  }

  .navbar-toggle-label {
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }

  .navbar-toggle:checked ~ .navbar-items {
    display: flex;
  }

  .navbar-toggle:checked ~ .navbar-items li {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
}

  /* RESPONSIVE DIV*/

  .responsive-div {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    padding: 10px;
    /*background-color: black;*/
    text-align: center;
    
  }
  

  /*IMAGEN DE PORTADA*/
  .contenedor-imagen {
    position: relative;
   width: 100%;
   padding-bottom: 30%;
  }
  
  .rectangulo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/brand/security-guard.jpg'); 
    background-size: cover;
  }
/* RESPONSIVE TABLA */
.table {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex-basis: 33.33%; /* Ancho inicial de cada columna */
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Ajusta el tamaño total de la celda */
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .cell {
    flex-basis: 100%; /* Cada columna ocupa todo el ancho */
  }
}

.gray-bg {
  background-color: lightgray;
}

.white-bg {
  background-color: white;
}

footer {
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.social-media a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.copy-rights {
  color: white;
}

.go-to-top a {
  color: lightblue;
  text-decoration: none;
}

.go-to-top a:hover {
  text-decoration: underline;
}
/*ETIQUETEA CAPACITACION**/

.etiqueta {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical de la etiqueta */
    left: 10px; /* Ajusta la posición horizontal de la etiqueta */
    padding: 10px 20px;
    background-color: #FFC107;
    color: #FFF;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .bandera {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 40px solid #FFC107;
  }
  
  .texto {
    margin-left: 10px; /* Ajusta el espacio entre la bandera y el texto */
  }
.letra-negra {
    color: black;
}
.letra-blanco {
    color: white;
}
/*RESPONSIVE MAPA*/
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* Establece el aspect ratio del mapa (altura / ancho) */
    position: relative;
    height: 0;
  }
  
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }